@using Microsoft.AspNetCore.Identity
@using UrbanDuck.Interfaces
@model Listing
@inject UserManager<User> userManager;
@inject IContributorService contributorService;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    <h1>Fill informations to add new listing </h1>
    <form asp-controller="Listing" asp-action="Create" method="post">
    <input hidden asp-for="ContributorId" value=@(contributorService.GetByUserId((int.Parse(userManager.GetUserId(User)))).Result.Id)>
    <div>
    <label asp-for="Title"></label>
    <input class="form-control" asp-for="Title">
    </div>
    <div>
    <label asp-for="Amount"></label>
    <input class="form-control" asp-for="Amount">
    </div>
    <div>
    <label asp-for="Description"></label>
    <input class="form-control" asp-for="Description">
    </div>
    <div>
    <label asp-for="Price"></label>
    <input class="form-control" asp-for="Price">
    </div>
    <p> </p>
    <button class="btn btn-primary" type="submit">Create</button>
    </form>
}
