@model Listing
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    <form asp-controller="Listing" asp-action="DetailsEdit" method="post">
    <div>
    <input hidden asp-for="ContributorId"/>
    <input hidden asp-for="Id"/>
    <input hidden asp-for="photoPath"/>
    <label asp-for="Title"></label>
    <input class="form-control" asp-for="Title">
    </div>
    <div>
    <label asp-for="Amount"></label>
    <input class="form-control" asp-for="Amount">
    </div>
    <div>
    <label asp-for="Description"></label>
    <input class="form-control" asp-for="Description">
    </div>
    <p> </p>
    <button class=""btn btn-secondary" type="submit">Edit</button>
    </form>

}
