@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager;

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="authors" content="Mateusz Nieplowicz, Seweryn Szymański, Bartłomiej Wołyniec, Mikołaj Śniechowski" />
    <meta name="description" content="a place where you can find cheap food and avoid wasting it " />
    <meta name="keywords" content="free food, Freeganism, dumpster diving, skipitarianism, urban foraging, doing the duck" />
    <meta name="viewport" content="width=device-width, inital-scale=1" />
    <title>Urban Duck :: Place you can save money and food at the same time</title>
</head>




<div class="text-center">
    <h1 class="display-4">Welcome to UrbanDuck</h1>
    <a asp-controller="Company" asp-action="All"><button class="btn btn-outline-success">List All Companies</button></a>
    <!--<a asp-controller="Contributor" asp-action="All"><button class="btn btn-outline-success">List All Contributors</button></a>-->
    <a asp-controller="Listing" asp-action="All"><button class="btn btn-outline-success">View Listings</button></a>
    @if (signInManager.IsSignedIn(User))
                        {
                        <a asp-controller="Contributor" asp-action="GetById"><button class="btn btn-outline-info">Contributors Profile</button></a>
                        }
</div>
