@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Company" asp-action="GetAllCompanies">Test - List All Companies</a>
</div>
