@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Company" asp-action="All">List All Companies</a>
    <a asp-controller="Contributor" asp-action="All">List All Contributors</a>
    <a asp-controller="Listing" asp-action="All">View Listings</a>
    @if (signInManager.IsSignedIn(User))
                        {
                        <a asp-controller="Contributor" asp-action="GetById">Contributor Profile</a>
                        }
</div>
