@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to UrbanDuck</h1>
    <a asp-controller="Company" asp-action="All"><button class="btn btn-outline-success">List All Companies</button></a>
    <a asp-controller="Contributor" asp-action="All"><button class="btn btn-outline-success">List All Contributors</button></a>
    <a asp-controller="Listing" asp-action="All"><button class="btn btn-outline-success">View Listings</button></a>
    @if (signInManager.IsSignedIn(User))
                        {
                        <a asp-controller="Contributor" asp-action="GetById"><button class="btn btn-outline-info">Contributors Profile</button></a>
                        }
</div>
