@using UrbanDuck.Interfaces
@model IEnumerable<Booking>
@inject IListingService listingService;

@{
    <ul class="list-group">
    @foreach(var booking in Model)
    {
        var listing = await listingService.GetById(booking.ListingId);
        <li class="list-group-item">
        <h1>@listing.Title</h1>
        <p>
        <a asp-controller="Listing" asp-action="GetById" asp-route-id="@listing.Id"><button class="btn btn-info justify-align-right">Details</button></a>
        <form asp-controller="Booking" asp-action="Delete" asp-route-id="@booking.Id" method="post">
        <button class="btn btn-danger justify-align-right" type="submit">Delete</button></form>
        </p>
        </li>
    }
    </ul>
}
