@model IEnumerable<Contributor>
@{
    @foreach(var contributor in Model)
    {
        <h1>@contributor.FirstName</h1>
        <h1>@contributor.LastName</h1>

        <form asp-controller="Contributor" asp-action="Delete" asp-route-id="@contributor.Id" method="post">
         <a asp-controller="Contributor" asp-action="Edit" asp-route-id="@contributor.Id"><button class="btn btn-info">Edit</button></a>
        <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        
       
        <hr>
    };
}
